bidict==0.21.4
click==8.0.4
dataclasses==0.8
epub-meta==0.0.7
Flask==2.0.3
Flask-SocketIO==5.2.0
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
lxml==4.9.1
MarkupSafe==2.0.1
pkg-resources==0.0.0
python-engineio==4.3.3
python-socketio==5.7.0
six==1.16.0
typing-extensions==4.1.1
Werkzeug==2.0.3
zipp==3.6.0
