<!DOCTYPE html>
<html>
    <head>
        <!-- General -->
        <title>Tolino Frontend</title>

        <!-- Meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    </head>
    <body>
        <div id="header">
            <div id="branding">
        	   Tolino
            </div>

            <div id="buttons">
                <div class="button">
                    &lt;
                </div>
                <div class="button">
                    &gt;
                </div>
            </div>
        </div>
        <div id="books">
            books
        </div>
    </body>
</html>