<!DOCTYPE html>
<html>
    <head>
        <!-- General -->
        <title>Tolino Frontend</title>

        <!-- Meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    </head>
    <body>
        <div id="header">
            <div id="branding">
        	   <img src="./static/img/tolino.jpg">
            </div>

            <div id="buttons">
                <a class="button" href="./?page={{ page - 1 }}">
                    &lt;
                </a>
                <a class="button" href="./?page={{ page + 1 }}">
                    &gt;
                </a>
            </div>
        </div>
        <div id="books">
            {% for ebook in ebooks %}
            {% if ebook is not none %}
            <a class="book_container" href="./epub/{{ start_offset + loop.index0 }}.epub">
                {% if ebook.cover_image_extension is not none %}
                <div class="book" style="background-image: url(data:image/{{ ebook.cover_image_extension[1:] }};base64,{{ ebook.cover_image_content.decode('UTF-8') }});"></div>
                {% else %}
                <div class="book">
                </div>
                {% endif %}
                {%if ebook.title is not none %}
                <div class="info">{{ ebook.title[:18] }}</div>
                <div class="info author">{{ ebook.authors[0][:16] }}</div>
                {% else %}
                <div class="info">??</div>
                <div class="info author">??</div>
                {% endif %}
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </body>
</html>